<!-- <nav class="navbar navbar-dark bg-secondary">
    <div class="container-fluid">
        <a class="navbar-brand text-bold" href="#">
            <img src="https://media-exp1.licdn.com/dms/image/C510BAQEDZcprjJp63g/company-logo_200_200/0/1519884327502?e=2159024400&v=beta&t=BFIirp8cBLR2T08Y2eVCjMuy_0MbBbFpH_pPJ0qXwNc" alt="logo" width="30" height="25" >
            <span class="text-uppercase">ZeOmega Online Test</span>
        </a>
    </div>
</nav> -->

<div class="container-fluid">
   <!--  <div class="header" style="font-size: 60px; padding: 10px; color: #d3f5cc; text-align: center;" ><strong>Online Test Application</strong></div> -->
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand" href="#">Online Test</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
    <li><a href="#">Home</a></li>
    <li><a>Option</a></li>
    <li><a>Edit</a></li>
    <li><a>Go To</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <li><a><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    </div>
    
    </div>
    </nav>
    
    </div>